

@font-face {
	font-family: 'HelveticaNeueLTPro';
    src: url("../HelveticaNeueLTPro-Roman.ttf");
}
body,html {
	margin: 0;
	font-family: 'HelveticaNeueLTPro', sans-serif;
	background-image: url('background.jpg');
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center; 
	background-repeat:no-repeat;
	color: white;
}
.father  {
	position: absolute;
	font-size: 32px;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.child  {
	font-size: 48px;
	position: absolute;
  	left: 94%;
  	top: 94%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
span
{
	color:#ffc515;
}
a:link, 
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color:#ffc515;
	text-decoration: underline;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

/* Side Panel styling*/

.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
