

@font-face {
	font-family: 'HelveticaNeueLTPro';
    src: url("../HelveticaNeueLTPro-Roman.ttf");
}
body,html {
	margin: 0;
	font-family: 'HelveticaNeueLTPro', sans-serif;
	background-image: url('background.jpg');
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center; 
	background-repeat:no-repeat;
	color: white;
}
.father  {
	position: absolute;
	font-size: 32px;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.child  {
	font-size: 48px;
	position: absolute;
  	left: 94%;
  	top: 94%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
span
{
	color:#ffc515;
}
a:link, 
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color:#ffc515;
	text-decoration: underline;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

/* Navigation Bar*/

header {
  display: flex;
  width: 100%;
}

header h1 {
  margin-left: 1rem;
}

header a {
  text-decoration: none;
}

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  margin-right: 2rem;
}

/* Set width for mobile/smaller screen size. */
/* I set it big here so I don't have to shrink the screen so much */
/* for testing purposes */
@media screen and (max-width: 1100px) {
  header {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
  }

  h1 {
    grid-area: title;
  }

  .menu a {
    text-decoration: none;
    color: black;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 20px 30px 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }

  .navicon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
  }

  .navicon:before {
    top: 5px;
  }

  .navicon:after {
    top: -5px;
  }

  .navicon:before,
  .navicon:after {
    background: #333;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }

  .menu {
    grid-area: nav;
    max-width: unset;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .menu a {
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    background-color: #eee;
    width: 100%;
    text-align: center;
  }

  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}
