

@font-face {
	font-family: 'HelveticaNeueLTPro';
    src: url("../HelveticaNeueLTPro-Roman.ttf");
}
body,html {
	margin: 0;
	font-family: 'HelveticaNeueLTPro', sans-serif;
	background-image: url('background.jpg');
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center; 
	background-repeat:no-repeat;
	color: white;
}
.father  {
	position: absolute;
	font-size: 32px;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.child  {
	font-size: 48px;
	position: absolute;
  	left: 94%;
  	top: 94%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
span
{
	color:#ffc515;
}
a:link, 
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color:#ffc515;
	text-decoration: underline;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

/* Navigation Bar*/

#menu__toggle {
  opacity: 0;
  color: white;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  color: white;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffc515;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
