
@font-face {
	font-family: 'HelveticaNeueLTPro';
    src: url("../HelveticaNeueLTPro-Roman.ttf");
}
body,html {
	margin: 0;
	font-family: 'HelveticaNeueLTPro', sans-serif;
	background-image: url('background.jpg');
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center; 
	background-repeat:no-repeat;
	color: white;
}
.father  {
	position: absolute;
	font-size: 72px;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.child  {
	font-size: 48px;
	position: absolute;
  	left: 96%;
  	top: 96%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	transition: filter .5s ease-in-out;
  	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
 	filter: grayscale(0%); /* FF 35+ */
}
span
{
	color:#ffc515;
}
a:link, 
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ 
	/*color:#ffc515;
	text-decoration: underline;*/
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

