

@font-face {
	font-family: 'HelveticaNeueLTPro';
    src: url("../HelveticaNeueLTPro-Roman.ttf");
}
body,html {
	font-family: 'HelveticaNeueLTPro', sans-serif;
	background-image: url('background.jpg');
	background-repeat: no-repeat; 
	color: white;
}
.father  {
	position: absolute;
	font-size: 48px;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.child  {
	font-size: 48px;
	position: absolute;
	left: 98%;
  	top: 83%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
span
{
	color: #ffc515;
}
a:link, 
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color:#ffc515;
	text-decoration: underline;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

/* Style the links inside the navigation bar */
.topnav1 a {
  font-family: "Mona-Sans Regular";
  font-weight: 400;
  font-size: 28px;  
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  
     
}

/* Change the color of links on hover */
.topnav1 a:hover {
  font-family: "Mona-Sans Regular";
  font-weight: 400;
  font-size: 28px;  
  background-color: black;
  color: #ffc515;
}

/* Add a color to the active/current link */
.topnav1 a.active {
  font-family: "Mona-Sans Regular";
  font-weight: 400;
  font-size: 28px; 
  background-color: black;
  color: #ffc515;

}

.topnavnew {
  font-family: "Mona-Sans Regular";
  font-weight: 400;
  font-size: 28px;  
  float: center;
  background-color: #ffc515;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;

}
