@font-face {
	font-family: 'HelveticaNeueLTPro';
    src: url("../HelveticaNeueLTPro-Roman.ttf");
}
body,html {
	margin: 0;
	font-family: 'HelveticaNeueLTPro', sans-serif;
	background-image: url('background.jpg');
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center; 
	background-repeat:no-repeat;
	color: white;
}
.father  {
	position: absolute;
	font-size: 36px;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
span
{
	color: #f9dc5c;
}
spanwhite
{
	color: white;
}	
spanblack
{
	color: black;
}	
a:link, 
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color:#f9dc5c;
	text-decoration: underline;
}

/* Top navigation */
/* Add a black background color to the top navigation */

.modmenu {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffc515;
  float: right;
}
.topnav {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 20px;  
    text-transform: uppercase;
    background-color: #ffc515;
    overflow: hidden;
    
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 20px;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
       
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 20px;    
    background-color: black;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 20px;  
    background-color: black;
    color: white;

  }

  nav {
    display: block;
    
    
  }

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

main {
  width: calc(100% - 240px);
  max-width: 680px;
  margin: 100px auto;
}

p {
  font-size: 18px;
  line-height: 28px;
}

* {
  scroll-behavior: smooth;
}

/* Menu code starts here */

#menuToggle
{
  display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
